body,
html {
  height: 100%;
  margin: 0;
  color: white !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.bg {
  /* The image used */
  background-image: url("images/background1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Positioning context for the pseudo-element */
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the color and opacity as needed */
  z-index: 1;
}

/* Ensure that any content inside .bg is above the overlay */
.bg > * {
  position: relative;
  z-index: 2;
}

.titleRow {
  padding-top: 150px !important;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #17bb48 50%);
}

#carousel {
  display: none;
}

#heartImage {
  cursor: pointer;
}

.carousel-inner {
  border-radius: 50px !important;
  border: 1px solid white;
}

.carousel-item {
  height: 800px; /* Stel hier de gewenste vaste hoogte in */
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carousel-caption {
  color: white !important;
}

.carousel {
  position: relative;
}

.letter {
  display: inline;
  visibility: hidden; /* Zorg ervoor dat de letters aanvankelijk verborgen zijn */
}

.letter.show {
  visibility: visible; /* Maak de letters zichtbaar wanneer ze moeten worden getoond */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  animation: fadeIn ease-in 1s forwards;
  animation-delay: 4.5s; /* voeg een vertraging toe van 4 seconden */
}

#animatedText3 {
  visibility: hidden; /* Verberg de tekst in eerste instantie */
}

#animatedText3 .letter.show {
  visibility: visible; /* Zorg ervoor dat de letters zichtbaar worden als de 'show' klasse wordt toegevoegd */
}

#clickHeartRow {
  opacity: 0; /* Verberg het element door de opacity op 0 te zetten */
  transition: opacity 1s ease; /* Voeg een overgang toe voor een vloeiende zichtbaarheid */
}

#clickHeartRow.visible {
  opacity: 1; /* Maak het element zichtbaar */
}
